body{
    font-family: "Century Gothic";
    font-weight: bold;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
.header{
    background: linear-gradient(90deg , #ff7800, #b818a0, #7815d4);
    box-shadow: 0 0px 50px 46px rgb(0 0 0 / 50%);
    position: fixed;
    z-index: 999;
    width: 100%;
}
.logo__img{
    padding: 15px 0;
}
.nav__links{
    width: 100%;
}
.nav__item a{
    color:white;
    font-size: 20px;
}
.nav__item a:hover{
    padding: 8px 0;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.logo{
    width: 110px;
    height: 110px;
}

.section-about{
    width: 100%;
    padding-top: 200px;
    background: gray;
    height: max-content;
    background-image: url("../img/wp2757880-wallpaper-gif.gif");
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    cursor: initial;
    display: flex;
}
.about__inner{
    font-weight: 600;
    color: white;
    margin: 35px 0 0 35px;
}
.about_wrapper{
    text-align: center;

}
.nazva-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.nazva_cart_text{
    padding-left: 63px;
    padding-top: 20px;
    width: 669px;
    font-size: 25px;
    text-align: center;
}

.nazva-cart{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    justify-content: center;
    color: white;
}
.nazva-cards{
    padding-top: 80px;
}
.nazva-submit{
    margin-top: 20px;
    font-size: 35px;
    padding: 10px 25px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    color:white;
    font-weight: normal;
    background: linear-gradient(90deg , #ff7800, #b818a0, #7815d4);
    margin-bottom: 100px;
    transition: box-shadow .5s linear;

}
.nazva-submit:hover {
    background: linear-gradient(270deg, #ff7800, #b818a0, #7815d4);
    box-shadow: 0 0px 50px 5px white;
}
.festivals{
    position: relative;
    padding-bottom: 30px;
}
.festivals-bg{
    background: center bottom / cover no-repeat;
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: 2;
    top: -160px;
    left: 0;
    box-sizing: border-box;
    cursor: initial;
    display: flex;
}
.festivals{
    position: relative;
}
.bg-festivals{
    display: block;
    background-repeat: repeat;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
}
.festival__title{
    padding-top: 100px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.festival_img{
    height: 300px;
    width: 300px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.festival_card{
    width: 600px;
}
.card{
    box-shadow: 0 0px 50px 10px rgb(0 0 0 / 90%);
    border-radius: 20px;
    width: 24rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.card-img-top{
    border-radius: 20px 20px;
    margin-top: 20px;
    height: 300px;
    width: 300px;
}
.card-text{
    width: 300px;
    font-size: 15px;
}
.details{
    padding-top: 5px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.detail_link a {
    text-decoration: none;
    color:brown;
}

.give_request{
    font-size: 15px;
    padding: 10px 25px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    color:white;
    font-weight: normal;
    background: linear-gradient(90deg , #ff7800, #b818a0, #7815d4);
    cursor: pointer;
    transition: box-shadow .5s linear;
}
.give_request:hover {
    background: linear-gradient(270deg, #ff7800, #b818a0, #7815d4);
    box-shadow: 0 0px 50px 5px white;
}
.background{
    background-image: url("../img/bg-festivals.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    width: 100%;
}
.festivals__cards{
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.galery{
    position: relative;
}
.galery-festivals{
    display: block;
    width: 100%;
    position: absolute;
    top: -481px;
    z-index: -1;
    left: 0;
}
.background-top{
    top: 693px;
}
.section-about{
    width: 100%;
    padding-top: 200px;
    background: gray;
    height: max-content;
    background: black;
    /*background-image: url("../img/wp2757880-wallpaper-gif.gif");*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*box-sizing: border-box;*/
    /*cursor: initial;*/
    display: flex;
}
@media screen and (min-width:2532px){
    .festivals-bg{
        height: 450px;
        top: -170px;
    }
}
@media screen and (max-width:1920px){

}
@media screen and (max-width:1200px){
    .festivals-bg{
        height: 250px;
    }
}
@media screen and (max-width: 991px){
    .nav{
        display: none;
    }
    .festivals-bg{
        height: 200px;
        top: -110px;
    }
    .nazva-img{
        height: 350px;
        width: 350px;
        border: 2px solid white;
    }
    .nazva-cart{
        flex-direction: column!important;
    }
    .card{
        width: 90%;
        margin-bottom: 84px;
    }
    .card-text {
        font-size: 44px;
        text-align: center;
    }
    .card-img-top {
        border-radius: 20px 20px;
        margin-top: 50px;
        height: 510px;
        width: 539px;
    }
    .detail_link a{
        font-size: 40px;
    }
    .give_request{
        font-size: 40px;
        margin-top: 20px;
    }
    }
    .about__inner{
        font-size: 62px;
    }
    .nazva_cart_text{
        padding-left: 0px;
        font-size: 40px;
    }
    .nazva-submit{
        width: 80%;
        padding: 43px 4px;
    }
    .festival__title{
        font-size: 120px;
    }

    .card-body {
        flex-direction: column;
    }
    .details {
        flex-direction: column;
    }

}
