body{
    font-family: "Century Gothic";
    font-weight: bold;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
.header{
    background: linear-gradient(90deg , #ff7800, #b818a0, #7815d4);
    box-shadow: 0 0px 60px 45px rgb(0 0 0 / 50%);
    position: fixed;
    z-index: 999;
    width: 100%;
}
.logo__img{
    padding: 15px 0;
}
.nav__links{
    width: 100%;
}
.nav__item a{
    color:white;
    font-size: 20px;
}
.nav__item a:hover{
    padding: 8px 0;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.logo{
    width: 110px;
    height: 110px;
}

.about__inner{
    font-weight: 600;
    color: white;
    margin: 35px 0 0 35px;
}
.about_wrapper{
    text-align: center;

}
.nazva-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.nazva_cart_text{
    padding-left: 63px;
    padding-top: 20px;
    width: 669px;
    font-size: 25px;
    text-align: center;
}

.nazva-cart{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    justify-content: center;
    color: white;
}
.nazva-cards{
    padding-top: 80px;
}
.nazva-submit{
    margin-top: 20px;
    font-size: 35px;
    padding: 10px 25px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    color:white;
    font-weight: normal;
    background: linear-gradient(90deg , #ff7800, #b818a0, #7815d4);
    margin-bottom: 300px;
    transition: box-shadow .5s linear;

}
.nazva-submit:hover {
    background: linear-gradient(270deg, #ff7800, #b818a0, #7815d4);
    box-shadow: 0 0px 60px 0px white;
}
.festivals{
    position: relative;
    padding-bottom: 30px;
}
.festivals-bg{
    background: center bottom / cover no-repeat;
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: 2;
    top: -160px;
    left: 0;
    box-sizing: border-box;
    cursor: initial;
    display: flex;
}
.festivals{
    position: relative;
}
.bg-festivals{
    display: block;
    background-repeat: repeat;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
}
.festival__title{
    padding-top: 100px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.title{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.festival_img{
    height: 300px;
    width: 300px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.festival_card{
    width: 600px;
}
.card{
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 90%);
    border-radius: 20px;
    width: 24rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.card-img-top{
    border-radius: 20px 20px;
    margin-top: 20px;
    height: 300px;
    width: 300px;
}
.card-text{
    width: 300px;
    font-size: 15px;
}
.details{
    padding-top: 5px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.detail_link a {
    text-decoration: none;
    color:brown;
}

.give_request{
    font-size: 15px;
    padding: 10px 25px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    color:white;
    font-weight: normal;
    background: linear-gradient(90deg , #ff7800, #b818a0, #7815d4);
    cursor: pointer;
    transition: box-shadow .5s linear;
}
.give_request:hover {
    background: linear-gradient(270deg, #ff7800, #b818a0, #7815d4);
    box-shadow: 0 0px 60px 0px white;
}
.background{
    background-image: url("../img/bg-festivals.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    width: 100%;
}
.festivals__cards{
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 88%;
}
.galery{
    position: relative;
}
.galery-festivals{
    display: block;
    width: 100%;
    position: absolute;
    top: -481px;
    z-index: -1;
    left: 0;
}
.galery-title{
    margin-bottom: 40px;
}
.background-top{
    top: 693px;
}

.section-about{
    width: 100%;
    padding-top: 210px;
    height: max-content;
    background: black;
    position: relative;
    display: flex;
}
.block-perehod {
    position: absolute;
    height: 260px;
    top: -220px;
    background: url(../img/perehod.png) center bottom / cover no-repeat;

    text-align: center;
    width: 100%;

}

.galery__main_image{
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 90%);
    width: 100%;
    height: 550px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: black;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.main_img{
    width: 100%;
    height: 550px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: opacity 0.5s ease;
}
.galery_main_card{
    margin-bottom: 80px;
}
.main_description{
    position: absolute;
    left: 35px;
    bottom: 22px;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    color: white;
    transition: opacity .5s ease;
}
.main_img:hover{
    opacity: 0.6;
    cursor: pointer;
}
.galery_image:hover .main_description{
    opacity: 1;
}
.secondary_cards{
    display: flex;
    justify-content: space-between;
}
.galery_secondary_image{
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 90%);
    width: 92%;
    display: flex;
    justify-content: center;
    height: 330px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: black;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.secondary_img{
    width: 100%;
    height: 330px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: black;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: opacity 0.3s ease;
}
.secondary_description{
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    left: 35px;
    bottom: 22px;
    color: white;
    opacity: 0;
    transition: opacity .5s ease;
}
.secondary_cart{
    display: flex;
}
.secondary-galery_image{
    width: 80%;
    display: flex;
    justify-content: center;
}
.secondary-galery_image:last-child{
    display: flex;
    justify-content: flex-end;
}
.secondary-galery_image:first-child{
    display: flex;
    justify-content: flex-start;
}
.galery_secondary_image:hover .secondary_description{
    opacity: 1;
}
.galery_secondary_image:hover .secondary_img{
    opacity: 0.5;
}

.items{
    display: flex;
    position: relative;
}
.tabir_img{
    width: 100%;
    height: 277px;
}
.tabir_item__inner{
    width: 345px;
}
.items{
    display: flex;
    justify-content: center;
}
.card-item-img {
    width: 100%;
    padding: 10px;
}
.card-tabir{
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 90%);
}
.card-tabir:first-child{
    transform: rotate(-20deg);
    position: absolute;
    left: 10%;
    bottom: -9%;
    transition: z-index 0.6s linear;
    transition: box-shadow 0.6s linear;
}
.card-tabir:nth-child(2){
    z-index: 1;
    transition: z-index 0.6s linear;
    transition: box-shadow 0.6s linear;
}

.card-tabir:last-child{
    transform: rotate(20deg);
    z-index: 0;
    position: absolute;
    right: 10%;
    bottom: -9%;
    transition: z-index 0.6s linear;
    transition: box-shadow 0.6s linear;
}
.card-text{
    width: 100%;
}
.card-tabir:hover{
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0px 70px 10px rgb(0 0 0 / 90%);
}
.tabir_description{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.tabir_description-back{
    border: 2px solid #b818a0;
    border-radius: 40px;
    width: 90%;
    padding: 30px 30px 30px 30px;
    background-color: #fff;
}
.tabir_description-text-name{
    color: orange;
}
.about_us_item_img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
}
.about_us_item{
    display: flex;
    align-items: center;
    width: 90%;
    padding: 30px 15px;
    background-color: #fff;
    border: 2px solid #ff7800;
    border-radius: 40px;
    box-shadow: 0 0px 70px 10px rgb(0 0 0 / 90%);
    margin-bottom: 35px;
}
.about_us_item:nth-child(2){
    border: 2px solid #b818a0;

}
.about_us_item:nth-child(3){
    border: 2px solid #8e167c;

}
.about_us_item:nth-child(4){
    border: 2px solid  #7815d4;

}
.about_us_items{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about_us_img{
    width: 40px;
    height: 40px;
}
.about_us_links{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}
.about_us_links:first-child{
    margin-right: 30px;
}
.subdescription{
    margin-top: 40px;
    width: 90%;
}


.back_footer{

    height: 700px;
    top: -220px;
    background: url(../img/perehod-kontakti.png) center top / cover no-repeat;
    text-align: center;
    width: 100%;
}
.contacts{
    text-align: left;
    color:white;
    padding-top: 250px;
}
.contacts > h3{
    font-size: 60px;
    font-weight: bold;
}

@media screen and (max-width: 992px){
    /*.nav{*/
    /*    display: none;*/
    /*}*/
}
@media screen and (min-width: 1790px){
    .block-perehod {
        height: 300px;
        top: -240px;
    }
}
@media screen and (min-width: 2064px){
    .block-perehod {
        height: 350px;
        top: -260px;
    }
}
@media screen and (max-width: 600px){
    .nav__links{
        display: none!important;
    }
    .nazva_cart_text{
        font-size: 18px;
    }
    .section-about{
        padding-top: 167px;
    }
    .nazva-cards {
        padding-top: 48px;
    }
    .logo {
        width: 80px;
        height: 80px;
    }
    .nazva-cart {
        flex-direction: column;
        align-items: center;
    }
    .nazva_cart_text{
        width: 90%;
        padding: 0;
        margin-top: 15px;
    }
    .about__inner{
        margin: 0;
    }
    .nazva-submit{
        width: 100%;
        font-size: 25px;
        margin-bottom: 188px;
    }
    .block-perehod{
        height: 171px;
        top: -110px;
    }
    .main_img{
        height: 300px;
    }
    .galery__main_image{
        height: 300px;
    }
    .main_description{
        display: block;
        opacity: 1;
        font-size: 24px;
    }
    .secondary_img{
        height: 300px;
    }
    .secondary_cart{
        flex-direction: column;
    }
    .secondary-galery_image{
        width: 100%;
        margin-bottom: 20px;
    }
    .galery_secondary_image {
        height: 300px;
        width: 100%;
    }
    .secondary-galery_image:first-child{
        width: 100%;
        margin-top: -60px;
        justify-content: center;
    }
    .secondary-galery_image:last-child{
        justify-content: center;
    }
    .secondary_description{
        opacity: 1;
        display: block;
        font-size: 24px;
    }
    .give_request{
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    .details {
        flex-direction: column-reverse;
    }
    .detail_link{
        margin-top: 18px;
    }
    .card-tabir:first-child {
        /* transform: rotate(-20deg); */
        /* position: absolute; */
        /* left: 10%; */
        /* bottom: -9%; */
        /* transition: z-index 0.6s linear; */
        /* transition: box-shadow 0.6s linear; */
    }
    .items {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .card-tabir:nth-child(1){
        transition: none;
        transform: none;
        left: 0;
        position: relative;
    }
    .card-tabir:nth-child(2){
        transition: none;
        transform: none;
        left: 0;
        position: relative;
    }
    .card-tabir:nth-child(3){
        transition: none;
        transform: none;
        left: 0;
        position: relative;
    }
    .tabir_description {
        margin-top: -2px;
    }
    .tabir_description-back{
        width: 100%;
    }
    .about_us_item{
        flex-direction: column;
        align-items: center;
    }
    .subdescription{
        margin: 0px 20px;
    }
    .about_us_description{
        text-align: center;
        margin: 15px 0;
    }
    .contacts{
        padding-top: 140px;
    }
    .contacts > h3{
        font-size: 30px;
    }
    .back_footer{
        height: 517px;
    }

}
